h2 {
  font-size: 16px; /* Tamaño de fuente */
  font-weight: 600; /* Semibold */
}

/* Aplica el estilo a los campos en sí */
input,
textarea {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
 

.AltaFormContainer,
.DireccionFormContainer {
  width: 100%;
  max-width: 560px;
  padding: 10px 30px 15px 20px; /* Reduce el padding superior */
  background-color: #F3F0EF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: left;
}


.FormContainerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas para el acomodo en filas de dos contenedores */
  gap: 30px; /* Espacio entre los contenedores */
  padding: 0;
  margin-left: 490px;
  margin-right: 200px;
}

.AltaFormGrid,
.DireccionFormGrid {
  display: grid;
  grid-template-columns: 1.0fr 1.0fr; /* Dos columnas */
  width: 100%;
}

.AltaFormField:nth-child(even),
.DireccionFormField:nth-child(even) {
  padding-left: 50px; /* Espacio a la izquierda */
}

.AltaFormField label,
.DireccionFormField label {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0px;
  display: block;
  margin-left: 10px;
}


.AltaFormField textarea{
  width: 95%; /* Ajusta el ancho de los campos de texto */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    
}
.AltaFormField.full-width {
  width: 100%; /* Asegura que ocupe el ancho completo del contenedor */
  grid-column: span 2; /* Si estás usando CSS Grid para dividir en columnas */
}
.AltaFormField.full-width textarea {
  width: 98%; /* Ancho completo dentro del contenedor */
}

.AltaFormField input, /* Añadido para aplicar el mismo estilo a textarea */
.DireccionFormField input,
.DireccionFormField textarea { /* También para la dirección */
    width: 95%; /* Ajusta el ancho de los campos de texto */
    padding: 8px;
    background-color: #FFFEFB;
    border: 1px solid #ccc;
    border-radius: 54px;
    margin-bottom: 7px;
}

/* Contenedor para los botones */
.AltaSubmitButtonContainer {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 20px; /* Espacio entre los botones */
  margin-top: 20px;
  margin-left: 220px;
}



.AltaSubmitButton {
  background-color: #74B22C;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Jost', sans-serif;
}

.AltaCancelButton {
  background-color: #4D1F0F;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Jost', sans-serif;
}




.logo {
  position: absolute;
  right: 20px;  
  top: 20px;
  width: 100px;
  height: auto;
}