* Título */
h2 {
  font-size: 16px; /* Tamaño de fuente */
  font-weight: 600; /* Semibold */
}

/* Estilo de los campos de entrada y texto */
input,
textarea {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/* Estilo de los contenedores */
.EdicionHSFormContainer,
.DireccionEdicHSContainer,
.ApostoladoEdicHSContainer { /* Incluye el nuevo contenedor */
  width: 100%;
  max-width: 560px;
  padding: 10px 30px 15px 20px;
  background-color: #F3F0EF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Contenedor principal de los formularios */
.FormContainerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas para el acomodo en filas de dos contenedores */
  gap: 30px; /* Espacio entre los contenedores */
  padding: 0;
  margin-left: 490px;
  margin-right: 200px;
}

/* Grillas de formularios */
.EdicionHSFormGrid,
.DireccionEdicHSGrid,
.ApostoladoEdicHSGrid { /* Incluye la nueva grilla */
  display: grid;
  grid-template-columns: 1.0fr 1.0fr; /* Dos columnas */
  width: 100%;
}

/* Espaciado entre campos */
.EdicionHSFormField:nth-child(even),
.DireccionFormField:nth-child(even),
.ApostoladoEdicHSGrid .EdicionHSFormField:nth-child(even) { /* Aplica a los campos del nuevo contenedor */
  padding-left: 50px;
}

/* Estilo de las etiquetas */
.EdicionHSFormField label,
.DireccionFormField label,
.ApostoladoEdicHSGrid .EdicionHSFormField label { /* Aplica al nuevo contenedor */
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0px;
  display: block;
  margin-left: 10px;
}

/* Estilo del textarea en el contenedor de Edición */
.EdicionHSFormField textarea {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

/* Campos de ancho completo */
.EdicionHSFormField.full-width {
  width: 100%;
  grid-column: span 2;
}
.EdicionHSFormField.full-width textarea {
  width: 98%;
}

/* Estilo de los inputs y textareas */
.EdicionHSFormField input,
.DireccionFormField input,
.DireccionFormField textarea,
.ApostoladoEdicHSGrid .EdicionHSFormField input, /* Aplica a los inputs en el nuevo contenedor */
.ApostoladoEdicHSGrid .EdicionHSFormField textarea { /* Aplica a los textareas en el nuevo contenedor */
  width: 95%;
  padding: 8px;
  background-color: #FFFEFB;
  border: 1px solid #ccc;
  border-radius: 54px;
  margin-bottom: 7px;
}

/* Contenedor para los botones */
.EdicionHSButtonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  margin-left: 220px;
  
}

/* Estilo de los botones */
.HistorialButton, .AltaSubmitButton, .AltaCancelButton {
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Jost', sans-serif;
}

.HistorialButton {
  background-color: #7C4835;
}

.AltaSubmitButton {
  background-color: #74B22C;
}

.AltaCancelButton {
  background-color: #4D1F0F;
}

/* Hover effect para los botones */
.HistorialButton:hover,
.AltaSubmitButton:hover,
.AltaCancelButton:hover {
  opacity: 0.7;
}
