
html, body {
  height: 100%;
  font-family: 'Jost', sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.title {
  flex-grow: 1;
  text-align: center;
}

.title h1,
.title p {
  margin: 0;
}


.paz-bien {
  color: #4D1F0F;
  text-align: center;
}



.HomePage {
  display: flex;
  height: 100vh;
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  overflow: hidden; /* Evita desbordamiento en la página */
}

.sidebar {
  width: 270px;
  height: 100%;
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  z-index: 100; /* Asegura que el sidebar esté por encima del contenido */
}

.content {
  margin-left: 270px; /* Mismo ancho del sidebar */
  padding: 20px;
  flex-grow: 1; /* El contenido ocupará todo el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto; /* Habilita el scroll si el contenido es muy largo */
  width: calc(100% - 270px); /* Se ajusta al espacio restante de la pantalla */
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden; 
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.iconA{
  width: 100%; 
  height: auto;
}
.role {
  color: green;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 2px; 
  padding: 0;
  text-decoration: none; 
}

ul li {
  display: flex;
  align-items: center;
  margin: 150px 0; /* Aumenta el espacio aquí */
}
nav ul li a {
  text-decoration: none;  /* Elimina el subrayado */
  color: #000000;  /* Cambia el color del texto a rojo */
}



.logout {
  margin-bottom: 80px;
height: 27px;
left: 136px;
top: 892px;
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.logout a {
  text-decoration: none; 
}
.logout a:hover {
  color: darkred; 
}


.welcome-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.welcome {
  max-width: 600px;
  text-align: left;
  background-color: #f5f4f1;
  padding: 20px;
  border-radius: 54px;
  margin-left: 40px; 
  margin-bottom: 50px;
}
.welcome h1{
  text-align: center;
  font-size: 32px;
  font-family: 'Jost-medium', sans-serif; 
  text-align: center;
}

.image-container {
  flex-shrink: 0;
  align-self: flex-end; /* Asegura que la imagen se alinee al final del eje */
  margin-left: 150px; 
  margin-bottom: 50px;
}

.right-image {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.image-section {
  margin-top: 20px;
}

.image-section img {
  width: 100%;
  border-radius: 10px;
}
.features {
  text-align: center;
  background-color: #f5f4f1;
  padding: 20px; 
  border-radius: 54px;
  margin-top: -50px; /* Eleva el contenedor */
  width: 80%; /* Aumenta el ancho */
  margin-left: auto; /* Alinea horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
}

.feature-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  width: 100%; 

}
.features h1{
  font-size: 32px;
  font-family: 'Jost-medium', sans-serif; 
  text-align: center;
}

.feature-buttons button {
  background-color: #997164;
  color: white;
  padding: 20px 40px;
  font-size: 18px;
  border: none;
  border-radius: 54px;
  cursor: pointer;
  width: 100%; 
}

.feature-buttons button:hover {
  background-color: #a05f3b;
}

.logo {
  position: absolute;
  right: 20px;  
  top: 20px;
  width: 100px;
  height: auto;
}

.icon {
  width: 20px; 
  height: 20px;
  margin-right: 10px; /* Espacio entre el ícono y el texto */
  vertical-align: middle;
}