.Submenuhs{
  display: flex;
  height: 100vh; 
}


.sidebar {
  width: 200px; 
  height: 100%; 
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: fixed; /* Mantén el sidebar fijo en el lado izquierdo */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;



  .profile {
    text-align: center;
    margin-top: 90px;
  }
}

.role {
  color: #286700;
}

  .content {
    margin-left: 270px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 270px);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Asegura que estén alineados a la izquierda */
  }
.table-container {
  margin-top: 6em;
  border-collapse: collapse; 
  width: 100%; 
  flex-grow: 1;
}

.table-container th,
.table-container td {
  border: 1px solid #ccc; 
  padding: 8px; 
  text-align: left; 
}

.table-container th {
  background-color: #f2f2f2; 
}


.table-container .activo {
 
  text-align: center; 
  font-weight: bold; 
}

.table-container .fecha {
  
  text-align: center; 
}
.table {
  margin-bottom: 600px;
}


/* barra busqueda*/

.search-bar-container {
  display: flex;
  align-items: center;
  margin-top: 10px 20px; 
  width: 700px; 
  position: relative; 
}

.search-bar {
  flex: 1;
  display: flex;
}

.search-input {
  flex: 1;
  padding: 7px;
  border: 1px solid #997164;
  border-right: none;
  border-radius: 8px 0 0 8px;
  font-size: 14px;
}



.search-button {
  padding: 7px 20px;
  background-color: #74B22C;
  color: white;
  border: 1px solid #74B22C;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 16px;
}
.search-button:hover {
  background-color: #286700;
}

/* Contenedor para el botón de filtros y el menú desplegable */
.filter-container {
  position: relative; 
}

.filter-button {
  padding: 7px 20px;
  margin-left: 10px;
  background-color: #74B22C;
  color: white;
  border: 1px solid #74B22C;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.filter-button:hover {
  background-color: #286700;
}

/* Estilo del menú de filtros */
.filter-menu {
  position: absolute;
  top: 37px; 
  left: 0;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: auto;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.filter-menu label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.filter-menu label input {
  margin-right: 8px;
}


/*Edicion*/
.edit-button {
  background-color: #ffffff; 
  color: white;              
  border: none;              
  padding: 8px 16px;         
  text-align: center;        
  margin: 4px 2px;          
  cursor: pointer;           
  border-radius: 4px;        
  transition-duration: 0.4s; 
  width: 22px;  
  height: 20px; 
}
.edit-button:hover {
  background-color: #7C4835;
}

.alta-container {
  display: inline-block;
  margin-left: 10px; 
}

.alta-button {
  padding: 7px 20px;
  background-color: #7C4835;
  color: white;
  
  border: 1px solid #7C4835;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;

}

.alta-button:hover {
  background-color: #4D1F0F;
}



