body {
  font-family: 'Jost', sans-serif;
}

.submenuhs-container {
  display: flex;
  height: 100vh;
}

.submenuhs-content h1 {
  text-align: left;
  color: #4D1F0F;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 10px; 
  margin-top: 8px;
}

.submenuhs-content h2 {
  color: #454545;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 50px;
}

.submenuhs-content p,
.submenuhs-content li,
.submenuhs-content a {
  font-weight: 400;
}

.submenuhs-content nav ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0;
  text-decoration: none;
}

.submenuhs-content nav ul li a {
  text-decoration: none;
  color: #000000;
}

.submenuhs-header h2 {
  color: #454545;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.submenuhs-content {
  margin-left: 270px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 270px);
}

.submenuhs-table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 100%;
  margin-top: 2em;
}

.submenuhs-table-container table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submenuhs-table-container th,
.submenuhs-table-container td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

.submenuhs-table-container th {
  background-color: #74B22C;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.submenuhs-table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.submenuhs-table-container tbody tr:hover {
  background-color: #f1f1f1;
}

.submenuhs-table-container td img {
  display: block;
  margin: auto;
}

/* Barra de búsqueda */
.submenuhs-search-bar-container {
  display: flex;
  align-items: center;
  margin-top: 10px 20px;
  width: 700px;
  position: relative;
}

.submenuhs-search-bar {
  flex: 1;
  display: flex;
}

.submenuhs-search-input {
  flex: 1;
  padding: 7px;
  border: 1px solid #7C4835;
  border-right: none;
  border-radius: 8px 0 0 8px;
  font-size: 14px;
  font-family: 'Jost', sans-serif;
}

.submenuhs-search-button {
  padding: 7px 20px;
  background-color: transparent;
  color: #454545;
  border: 1px solid #7C4835;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
}

.submenuhs-search-button:hover {
  background-color: #F3F0EF;
}

/* Contenedor para el botón de filtros y el menú desplegable */
.submenuhs-filter-container {
  position: relative;
}

.submenuhs-filter-button {
  padding: 7px 20px;
  margin-left: 10px;
  background-color: transparent;
  color: #454545;
  border: 1px solid #7C4835;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
}

.submenuhs-filter-button:hover {
  background-color: #F3F0EF;
}

/* Estilo del menú de filtros */
.submenuhs-filter-menu {
  position: absolute;
  top: 37px;
  left: 0;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: auto;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.submenuhs-filter-menu label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.submenuhs-filter-menu label input {
  margin-right: 8px;
}

/* Edición */
.submenuhs-edit-button {
  background-color: transparent;
  border: 2px;
  padding: 2px 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
  width: 20px;
  height: 20px;
  display: block;
}

.submenuhs-edit-button:hover {
  background-color: #d6c5bf;
}

/* Alta */
.submenuhs-alta-container {
  display: inline-block;
  margin-left: 10px;
}

.submenuhs-alta-button {
  padding: 7px 20px;
  background-color: #7C4835;
  color: white;
  border: 1px solid #7C4835;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
}

.submenuhs-alta-button:hover {
  background-color: #4D1F0F;
}



