.login-container {
  display: flex;
  height: 100vh;
  background-color: #4D1F0F;
}

.image-panel {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-panel img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  object-fit: cover;
}

.form-panel {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D1F0F;
  /* Color de fondo marrón oscuro */
}

.form-content {
  width: 80%;
  background-color: #FFFFFF;
  /* Fondo blanco para el área central */
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra para dar efecto de elevación */
}

.logo img {
  max-width: 100px;
  margin-bottom: 20px;
}

h1 {
  color: #4D1F0F;
  /* Color de texto marrón oscuro */
  font-size: 32px;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
  background-color: #4D1F0F;
  /* Fondo gris claro para inputs */
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #333;
  /* Color de texto oscuro */
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  /* Color de texto oscuro */
  outline: none;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 15px;
  background-color: #48B049;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #3a923a;
}

.forgot-link {
  display: block;
  margin-top: 15px;
  color: #4D1F0F;
  /* Color marrón oscuro para enlace */
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}