/* Sidebar.css */
* {
  box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el tamaño total */
}

.sidebar {
  width: 230px; /* Ajusta según sea necesario */
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px; /* Este padding puede ser ajustado según necesites */
  z-index: 100;
  overflow: hidden; /* Evita las barras de desplazamiento */
}

.profile {
  text-align: center;
  margin-bottom: 20px; /* Espaciado entre perfil y menú */
}

.slidebar-nav {
  flex: 1;
  list-style-type: none; /* Eliminar viñetas por defecto */
  padding: 0; /* Eliminar padding */
  margin: 0; /* Eliminar margen */
}

.menu-item {
  position: relative; /* Necesario para el submenú */
  display: flex;
  flex-direction: column; /* Mantener el submenú debajo */
}

.menu-item-header {
  display: flex;
  align-items: center; /* Alinea verticalmente el icono y el texto */
  cursor: pointer;
  padding: 10px; /* Mantén este valor o ajusta como necesites */
  transition: background 0.3s;
  width: 100%; /* Asegura que ocupe el ancho completo */
}

.menu-item-header:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo al pasar el ratón */
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Espacio entre icono y texto */
}

.submenu {
  display: none; /* Oculta el submenú por defecto */
  padding-left: 20px; /* Espacio a la izquierda para el submenú */
  margin: 0; /* Eliminar márgenes en el submenú */
}

.menu-item.active .submenu {
  display: flex; /* Muestra el submenú cuando el elemento principal está activo */
  flex-direction: column; /* Asegura que los elementos del submenú estén en columna */
}

.submenu li {
  padding: 8px; /* Espaciado entre elementos del submenú */
  margin: 0; /* Eliminar márgenes para un espaciado más controlado */
}

.logout {
  margin-top: auto; /* Mantener el logout en la parte inferior */
}

.logout a {
  display: flex;
  align-items: center;
  padding: 10px 15px; /* Ajustar el padding para mantener la consistencia */
  color: #000;
  text-decoration: none;
}

.logout a:hover {
  color: #B5651D;
}
